<mat-form-field color="accent">
  <input matInput [min]="startMinDate" [max]="startMaxDate" [matDatepicker]="start" placeholder="Start date:" [formControl]="startDateControl">
  <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
  <mat-datepicker #start></mat-datepicker>
</mat-form-field>
<mat-form-field color="accent">
  <input matInput [min]="endMinDate" [max]="endMaxDate" [matDatepicker]="end" placeholder="End date:" [formControl]="endDateControl">
  <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
  <mat-datepicker #end></mat-datepicker>
</mat-form-field>