<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Currency selection:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field color="accent">
      <mat-label>Base currency:</mat-label>
      <mat-select>
        <mat-option>
          One
        </mat-option>
        <mat-option>
          Two
        </mat-option>
        <mat-option>
          Three
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>First:</mat-label>
      <mat-select>
        <mat-option>
          One
        </mat-option>
        <mat-option>
          Two
        </mat-option>
        <mat-option>
          Three
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Second:</mat-label>
      <mat-select>
        <mat-option>
          One
        </mat-option>
        <mat-option>
          Two
        </mat-option>
        <mat-option>
          Three
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Third:</mat-label>
      <mat-select>
        <mat-option>
          One
        </mat-option>
        <mat-option>
          Two
        </mat-option>
        <mat-option>
          Three
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Fourth:</mat-label>
      <mat-select>
        <mat-option>
          One
        </mat-option>
        <mat-option>
          Two
        </mat-option>
        <mat-option>
          Three
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Fifth:</mat-label>
      <mat-select>
        <mat-option>
          One
        </mat-option>
        <mat-option>
          Two
        </mat-option>
        <mat-option>
          Three
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
