<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Currency selection:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field color="accent">
      <mat-label>Base currency:</mat-label>
      <mat-select [(ngModel)]="selectedCurrencies[0]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>First:</mat-label>
      <mat-select [(ngModel)]="selectedCurrencies[1]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Second:</mat-label>
      <mat-select [(ngModel)]="selectedCurrencies[2]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Third:</mat-label>
      <mat-select [(ngModel)]="selectedCurrencies[3]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Fourth:</mat-label>
      <mat-select [(ngModel)]="selectedCurrencies[4]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Fifth:</mat-label>
      <mat-select [(ngModel)]="selectedCurrencies[5]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
