<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Currency selection:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-label>Base currency:</mat-label>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="dataService.selectedCurrencies[0]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>Compared to:</mat-label>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="dataService.selectedCurrencies[1]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="dataService.selectedCurrencies[2]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="dataService.selectedCurrencies[3]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="dataService.selectedCurrencies[4]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="dataService.selectedCurrencies[5]">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.value + " - " + currency.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>