#container{
  background-color: #69f0ae;
  min-height: 100vh;
}
@media screen and (min-width: 1024px){
  #container{
    padding: 10px 20%;
    margin: auto;
  }
  #container > *{
    width: 60%;
  }
}